* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin-top: 50px;
}

body{
  text-align: center;
  background: rgb(152, 56, 56);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}

.viewport {
  width: 300px;
  overflow: hidden;
}

.track {
  display: flex;
  transition: transform 0.4s ease;
}

.item {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  flex-shrink: 0;
  opacity: 0.3;
  transition: transform 0.4s, opacity 0.4s;
}

#sword1 {
  height: 100px;
  width: 100px;
  background-image: url(./assets/pictures/longSword.png);
}
#sword2 {
  height: 100px;
  width: 100px;
  background-image: url(./assets/pictures/Rapier.png);
}
#sword3 {
  height: 100px;
  width: 100px;
  background-image: url(./assets/pictures/Saber.png);
}
#sword4 {
  height: 100px;
  width: 100px;
  background-image: url(./assets/pictures/vikingSword.png);
}
#sword5 {
  height: 100px;
  width: 100px;
  background-image: url(./assets/pictures/copesh.png);
}

.item.active {
  opacity: 1;
  transform: scale(1.2);
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% 
  {
    transform: translateY(0);
  }
  25%
  {
    transform: translateY(3px);
  }
  75%
  {
    transform: translateY(-3px);
  }
  100%
  {
    transform: translateY(0);
  }


}

.item.active:hover {

}

@keyframes chop {

  0%
  {
    rotate: 0deg;
  }
  50%
  {
    rotate: 45deg;
  }


}

.arrow {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
