*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.viewport {
    width: 300px;
}



.track {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  width: 100px;
  flex-shrink: 0;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.4s, opacity 0.3;
  height: 100px;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.active {
  opacity: 1;
  transform: scale(1);
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

.arrow-left{
    
}

.arrow-right{

}
